body {
    font-family: 'Open Sans'; 
    background-color: rgb(255, 255, 255);
}

html, body, header, #intro {
    height: 100%;

}
#intro {
    background: linear-gradient(
        rgba(0, 0, 0, 0.4), 
        rgba(0, 0, 0, 0.4)),
        url("https://images.unsplash.com/photo-1499744632587-7798360ba20f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grey-text {
    font-family: 'Open Sans';
    font-size: 22px;
}

.ref-text {
    font-family: 'Open Sans';
    font-size: 14px;
}

.exerpt {
    font-family: 'Open Sans';
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  color: white;
}

.subtitle {
    font-size: 25px;
}

.icon-black {
    color: black;
}

a {
    color: rgb(86, 128, 218);
    font-family: 'Open Sans';

}
a:hover{
    color: rgb(35, 66, 134);
    text-decoration: none;
}

.navbar {
    font-family: arial !important;
    background: rgb(48, 47, 47);
    transition: background-color 0.2s linear;
    margin-bottom: 20px;
}
.navbar a {
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
}

.navbar a:hover{
    color: rgb(165, 202, 197) !important;
}

.fab, .fas {
    color: #fff;
    font-size: 30px;
}


.fab:hover, .fas:hover {
    color: rgb(165, 202, 197) !important;
}   

.icon-black, .icon-black:hover {
    color: black;

}
.landing {
   /* text-shadow: 2px 2px 4px #000000; */
   font-family: 'Open Sans', sans-serif; 
   font-size: 20px;
   color: white;
   text-align: left;
   font-weight: 100;
   letter-spacing: 0.1em;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color:rgb(165, 202, 197);
    
}

@media only screen and (min-width:768px) {
    .navbar { background-color: transparent; border:none; transition:0.8s; }
    .nav-scrolled { background-color:rgb(48, 47, 47); transition:0.8s; }

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li {
    display: inline-block;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #58585c;  
}
.carousel-indicators .active {
    background-color: #a8bde9;
}

.section-link {
    color: rgb(86, 128, 218);
}

.page-footer {
    background: #09091f;
    font-family: 'Open Sans';
    font-size: 14px;
    color: white;
}

#section02 a {
    padding-top: 60px;
}

.demo a {
    position: absolute;
    bottom: -10px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }

  .arrow-down {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }
  
  
  
.profile-image {
    height: 100px;
    width: 100px;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid transparent;
    margin: -1px;
}

 
.me {
    color: rgb(246, 246, 248);
    font-size: 33px;

}

.footer-image {
    height: 40px;
    width: 40px;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid transparent;
    margin: -1px;
}

.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
    }

.img-thumbnail {
    border: none;
}

.brand {
    font-family: 'Cedarville Cursive', cursive;
    font-size: 26px;
    font-weight: 100;
    display: inline;
    text-transform: lowercase;
    color: orange;
}

.brand:hover {
    color: orange;
}

.brand2 {
    font-family: arial;
    font-size: 15px;
    display: inline;
    color: white;
    text-transform: capitalize;
}